<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MGSU Campus Website with Chatbot</title>
  <link  rel="stylesheet " type="text/css" href="{{ url_for('static', filename='mgsuchatbot.css') }}"/>
</head>


<!-- Floating Chat Button -->
<div class="chatbot-button">
  <img src="{{ url_for('static', filename='images/bot-avtar.png') }}" alt="Chat Bot" >
  <button onclick="openChat()" id="chatbot-btn">CHAT WITH MGSU BUDDY</button>
</div>

<iframe id="chatbot-frame" src="/chatbot"></iframe>

<script>
  function openChat() {
    const frame = document.getElementById('chatbot-frame');
    const button = document.getElementById('chatbot-btn');
    
    if (frame.style.display === 'none') {
      frame.style.display = 'block';
      button.style.display = 'none'; // hide button once chatbot opens
    } else {
      frame.style.display = 'none';
      button.style.display = 'block';
    }
  }
</script>

<body>
 
<header>
  <h1>Maharaja Ganga Singh University (MGSU)</h1>
  <p>Bikaner Campus</p>
</header>

<nav>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Departments</a>
  <a href="#">Admissions</a>
  <a href="#">Contact</a>
</nav>

<div class="backimg">
  </div>

<footer>
  <p>&copy; 2025 Maharaja Ganga Singh University, Bikaner</p>
</footer>

</body>
</html> 


